@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Rubik+Doodle+Triangles&family=Rubik+Scribble&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
}
header{
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
}
.container{
    width: 1360px;
    margin: 0 auto;
}
.head{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    height: 10vh;
    /* border: 1px solid black; */
    align-items: center;
    padding: 10px 15px;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.logo h4{
    color: #092635;
    font-size: 25px;
    font-family: Roboto;
    text-transform: uppercase;
    margin-left: 5px;
}
.logo h4:hover{
    color: #2D9596;
}
.round{
    width: 50px;
    height: 50px;
    /* border: 2px solid red; */
    box-shadow: 5px 10px 15px rgba(0,0,0,0.7);
    border-radius: 50%;
    background-image: url(./images/logo.jpg);
    background-size: cover;
    background-position: center center;
}
.navbar ul{
display: flex;
list-style: none;
}
.navbar ul li{
    padding: 5px 15px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 22px;
    font-family: Roboto;
    color: #092635;
    border: 1px solid #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
.navbar ul li a:hover{
    border: 1px solid #E7B10A;
    color: #fff;
    background-color: #092635;
}
.head-body{
    width: 100%;
    height: 890px;
    background-color: #001C30;
    /* background-color: #ECF4D6; */
}
.head-body-content{
    display: flex;
    height: 869px;
    align-items: center;
    justify-content: space-between;
}
.head-body-content-text h1{
    font-size: 60px;
    font-weight: 300;
    color: #E7B10A;
    margin-bottom: 20px;
    font-family: Roboto;
}
.head-body-content-text span{
    font-size: 65px;
    font-weight: 600;
    color: #fff;
    font-family: Roboto;
   
}
.head-body-content-text p{
    color: #fff;
    margin-top: 10px;
    font-size: 23px;
    margin-bottom: 45px;
}
.head-body-content-text .btn-view{
    width: 188px;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: #E7B10A;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.head-body-content-text .btn-contact{
    width: 188px;
    height: 40px;
    border: none;
    font-size: 18px;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.btn-contact:hover{
    border: 1px solid #E7B10A;
}
.head-body-content-image{
    width: 380px;
    height: 380px;
    border: 5px solid white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    box-shadow: 10px 10px 15px rgba(0,0,0,0.7);
}
.personal-image{
    width: 350px;
    height: 350px;
    border: 2px solid white;
    box-shadow: 5px 10px 15px rgba(255, 255, 255, 0.7);
    border-radius: 100%;
    background-image: url(./images/logo.jpg);
    background-size: cover;
    background-position: center center;
    padding: 4px;
}

/* glow */
.glowIn {
    color: white;
  
    span {
      animation: glow-in 0.8s both;
    }
  }
  
  @keyframes glow-in {
    from {
      opacity: 0;
    }
    65% {
      opacity: 1;
      text-shadow: 0 0 25px white;
    }
    75% {
      opacity: 1;
    }
    to {
      opacity: 0.7;
    }
  }
  .about{
    width: 100%;
    height: 865px;
    background-color: #EEF5FF;
  }
  .about-me {
    text-align: center;
  }
  .about-me h1{
    padding-top: 100px;
    font-size: 40px;
    font-family: sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .line{
    width: 70px;
    height: 10px;
    background-color: #265073;
    margin: 15px auto;
    border-radius: 10px;
  }
  .about-me .abouttext{
    margin-top: 40px;
    font-family: sans-serif;
    font-size: 24px;
    margin-bottom: 80px;
  }
 .about-me-container{
    display: flex;
    width: 100%;
    height: 500px;
    justify-content: space-between;
    column-gap: 100px;
 }
 .about-me-text{
    text-align: justify;
    width: 50%;
 }
 .about-me-text h3{
    font-size: 28px;
    font-family: sans-serif;
    color: #001C30;
    margin-bottom: 20px;
}
.about-me-text p{
    font-size: 25px;
    text-indent: 10px;
    font-family: sans-serif;
    line-height: 30px;
}
.about-me-skills{
    width: 50%;
}
.about-me-skills h3{
    font-size: 28px;
    font-family: sans-serif;
    color: #001C30;
    margin-bottom: 20px;
}
.about-me-skills span{
    padding: 5px 10px;
    color: #fff;
    font-size: 23px;
    font-family: sans-serif;
    background-color: #001C30;
    margin: 5px 10px;
    line-height: 40px;
    border-radius:10px;
}
.btnaboutme{
    width: 140px;
    height: 40px;
    background-color: #001C30;
    color: #fff;
    font-size: 20px;
    font-family: sans-serif;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
}
#particles-js{
    width: 100%;
    height: 900px;
    background-color: #001C30;
    position: relative;
}
#project-title{
    text-align: center;
    padding-top: 40px;
    color: #EEF5FF;
    font-size: 40px;
    font-family: Roboto;
}
.menu-projects{
   text-align: center;
   margin-top: 30px;
}
.btn-project{
    padding: 5px 10px;
    color: #fff;
    font-size: 23px;
    font-family: sans-serif;
    background-color: #001C30;
    margin: 5px 10px;
    line-height: 40px;
    border-radius:10px;
}
.project-container{
    padding-top: 120px;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    justify-content: center;
    align-content: center;
    gap:10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.project-items{
    background-color: #EEF5FF;
    border-radius: 5px;
}